// 레이아웃 
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 0px;
    background-color: var(--black100);
}
#footer {
    text-align: center;
    background-color: var(--black100);
    padding: 20px 20px 20px 20px;
} 
